html {
	font-size: 62.8%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family:var(--font-baijamjuree);
}


p {
	font-size: 1.6rem;
	color:var(--p-grayishblue);
}


h1,h2,h3,li {
	color:var(--h-col);
}

h1,
h2,
h3 {
	//reset default adding from browsers
	margin-top: 0;
}
