:root {
	--bg-white: hslhsl(0,0%,94.9%);
	--black: hsl(0, 0%, 0%);
	--btn-cyan: hsl(171, 66%, 44%);
	--btn-lightblue: hsl(233, 100%, 69%);
	--bg-gray:hsl(0,0%,59.2%);
	--darkgrayishblue: hsl(210, 10%, 33%);
	 --p-grayishblue: hsl(201, 11%, 66%);//9EABB2
	 --hli-col:hsl(210,9.5%,32.9%); //4C545C
	
	}

	
	



