@use '../util'as *;

h1,
h2,
h3 {
    margin-top: 0;
}


a,
a:visited,
a:active {
    text-decoration: none;
}

h1,
h2,
h3 {
    //reset browser's default adding margin 
    margin-top: 0;
    color: var(--hli-col);
}
   


h1 {
    //  max-width: 73rem;
    font-size: clamp(3.2rem, 4vw, 4.6rem);
    font-weight: normal;
    letter-spacing: -0.052rem;

    @media screen and(min-width:900px) {
        letter-spacing: -0.075rem;
    }
}

h2 {
    font-size: clamp(2.8rem, 4vw, 3.6rem);
    letter-spacing: -0.046rem;
	font-weight: normal;
	margin-bottom: 1.6rem;

	@media screen and(min-width:900px) {
        letter-spacing: -0.059rem;
	}
    
}

h3 {
    font-size: 2.4rem;
    letter-spacing: -0.039rem;
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 1rem;
}

    
p {
    margin: 0;
    font-size: clamp(1.6rem, 1.5vw, 2rem);
    color: var(--p-gray);
    line-height: 2.6rem;
    letter-spacing: 0.012rem;

		@media screen and(min-width:823px) {
			line-height: 3rem;
			letter-spacing: 0.015rem;
		}
	}

    li {
        color: var(--hli-col);
    }


