.clipboard {
    margin-top:18.6rem;

    &__acces {
        max-width: 95.6rem;
        text-align: center;
        padding-left:clamp(3.2rem, 5vw, 31.4rem); 
        padding-right:clamp(3.2rem, 5vw, 31.4rem);
        
    }




}



    