
.cta {
  margin-bottom: 15rem;
     
     &__wrapp {
         max-width: 73rem;
         flex-flow: column;
         align-items: center;
         justify-items: center;
        }




     &_h {
        margin-bottom: 1.9rem;
             
       }

}